article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:hover,
a:active {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

h2 {
	font-size: 1.5em;
	margin: .83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: .83em;
	margin: 1.67em 0
}

h6 {
	font-size: .75em;
	margin: 2.33em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

p,
pre {
	margin: 1em 0
}

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,
q:after {
	content: '';
	content: none
}

small {
	font-size: 75%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

dl,
menu,
ol,
ul {
	margin: 1em 0
}

dd {
	margin: 0 0 0 40px
}

menu,
ol,
ul {
	padding: 0 0 0 40px
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,
input {
	line-height: normal
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible
}

button[disabled],
input[disabled] {
	cursor: default
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

@charset "utf-8";

body {
	font-family: メイリオ, Meiryo, ＭＳ Ｐゴシック, ms pgothic, sans-serif, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro;
	/* color: #665030; */
	font-size: 16px;
	margin: 0;
	padding: 0
}

body>img {
	position: absolute
}

div,
p,
ul,
ol,
dl,
li,
dt,
dd {
	word-break: break-all;
	line-height: 1.5;
	margin: 0;
	padding: 0
}

tr,
th,
td {
	word-break: break-all;
	line-height: 1.5;
	margin: 0;
	padding: 0
}

ul,
ol {
	list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

img {
	border: none;
	vertical-align: top
}

form {
	margin: 0;
	padding: 0
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

.clear {
	clear: both
}

#gnb-container {
	position: relative;
	z-index: 10
}

.wrapper {
	position: relative;
	z-index: 5
}

a,
a:visited,
a:hover,
a:active {
	outline: none !important
}

a:hover {
	text-decoration: none
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	overflow: hidden
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 100%
}

.develop-footer-code {
	overflow: hidden;
	height: 0
}

[class^=btn-more] a {
	display: block;
	text-indent: 110% !important;
	white-space: nowrap !important;
	overflow: hidden !important
}

[class^=btn-more] a:hover {
	background-position: 0 100% !important
}

@charset "utf-8";

footer {
	background: url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/char/anime_footer05.gif), url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/char/anime_footer06.gif), url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/bg_footer_180320.png);
	background-position: calc(50% + 848px) 0, calc(50% + 540px) 106px, center bottom;
	background-repeat: no-repeat;
	height: 150px;
	position: relative;
	margin: -50px auto 0;
	padding: 205px 0 10px;
	z-index: 100;
	width: 100%;
	text-align: left;
	min-width: 1244px
}

.commonfooter {
	clear: both;
	position: relative;
	width: 900px;
	height: 106px;
	padding: 15px 0;
	margin: 0 auto;
	background: #fff;
	border: solid 3px #e1e1e1;
	border-radius: 50px;
	text-align: center
}

.commonfooter>a {
	text-decoration: underline
}

.commonfooter>a:hover {
	text-decoration: none
}

.commonfooter>ul {
	margin: 0;
	padding: 0;
	overflow: hidden
}

.commonfooter>ul>li {
	display: inline;
	font-size: 10px;
	padding: 0 5px 0 8px;
	list-style: none;
	border-left: solid 1px #5d6669
}

.commonfooter>ul>li:first-child {
	padding: 0 5px 0 0;
	border-left: none
}

.commonfooter>ul>li a {
	color: #5d6669
}

.commonfooter>div {
	background: url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/logo_nexon.gif) no-repeat center bottom;
	padding-bottom: 42px
}

.commonfooter>div p {
	margin: 6px 0 0;
	padding: 0;
	font-size: 10px;
	line-height: normal;
	clear: left
}

.commonfooter>div p:first-child+p {
	margin-top: 10px
}

.commonfooter>div p>a {
	color: #00a0e9
}

.btn-mobilepages {
	position: fixed;
	z-index: 100;
	left: 30px;
	bottom: 50px;
	background: url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/btn_mobile.gif) no-repeat 0 0;
	background-size: 100%;
	width: 128px;
	height: 136px
}

.btn-mobilepages a {
	position: absolute;
	top: -230px;
	left: 55px;
	background: url(https://web.archive.org/web/20201001114713im_/https://static.nexon.co.jp/maplestory/ver2017/common/btn_mobile.png) no-repeat 0 0;
	background-size: 100%;
	width: 240px;
	height: 240px
}

.btn-mobilepages span {
	display: none
}
